


body{
    margin: 0;
    padding: 0;
    font-family: cursive;
    color:#F2B199;
}
li{
    list-style: none;

}
nav{
    background-color:#260101;
    width: 100%;
    height: 4em;
    padding-top:1.2em;
    box-sizing: border-box;


}
nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
        height: 100%;
        text-align: center;

}
nav ul li{
    height: 100%;
    width: 100%;

}
a{
    color:white;
    text-decoration: none;

}
#main{
    margin-top:2em;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 60vh;
    overflow: hidden;
    box-shadow: 0px 00px 20px black;

}
#main img{
width: 100%;
}
#main-imagem-1{
    z-index: 5;
    margin-left: -00%;

}
#main-imagem-2{
    margin-left: -100%;

    z-index: 1;
}
#content{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
   
}
section{
    display: flex;
    justify-content: space-around;
}
#content h1{
    margin-top: 2em;
    display: block;
    width: 18%;
    color:#8C0303;
    text-align: right;
    border-bottom-left-radius: 30%;
    border-bottom:2px solid #400101 ;

    font-family: 'Lemonada', cursive;

}
.destaque{
    width: 35%;
    margin-top: 1em;
    box-shadow: 0 0 10px black;
    border-radius: 2%;
    background: #590303;
}
.destaque center{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 80%;
    margin: 2em auto  2em auto;
}
.destaque ul{
    padding: 0;
}
.destaque ul li{
    display: inline;
    list-style: none;
}
.destaque img{
    box-shadow: 0 0 10px black;

    width: 80%;
}
.destaque p{
    display: block;
    font-size: 1.5em;
    white-space: nowrap;


    font-family: 'Dancing Script', cursive;


}
button{
    width: 100%;
    bottom: 0;
    background-color:#260101;
    color:white;
    border: 0;
    padding: 0.3em 0.3em 0.3em 0.3em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#poemaSection ul {
    width: 100%;

}
#poemaSection ul li{
    box-shadow: 0px 00px 20px black;
    

}

#poemaSection ul li a{
background-color: #590303;
width: 100%;
padding: 0 1em 0 0em;
display: flex;
height: 5em;

}

#poemaSection ul li a i{
background-color:#400101;
width: 15%;
padding-top: 1em;
box-sizing: border-box;
height: 100%;
margin-right: 0.5em;
text-align: center;
}
.nomePoema{
    padding-top: 1.8em;
    width: 80%;
}
.data{
        vertical-align: middle;
    margin-top: 0.8em;
}


footer{
    display: flex;
    justify-content: space-between;
    margin-top: 6em;
    background-color: #260101;
    height: 3em;
    padding: 0.5em 1em 0.5em 1em;
}
footer h4{
margin-top: 0.5em;
}
#resenhaSection div{
    width: 25%;

}
#resenhaSection div center img{
    width: 100%;
   

}


/* Color Theme Swatches in Hex */
.Lucifer-1-hex { color: #F2B199; }
.Lucifer-2-hex { color: #8C0303; }
.Lucifer-3-hex { color: #590303; }
.Lucifer-4-hex { color: #400101; }
.Lucifer-5-hex { color: #260101; }
