

*{
    transition-duration: 0.5s;

}
body{
    margin: 0;
    padding: 0;
    font-family: cursive;
    color:#F2B199;
    /*animation: fundo 7s linear;*/
}
/*
@keyframes fundo{
    0%{background-color: #260101;}
    100%{background-color: #F2B199;}
}*/
li{
    list-style: none;

}
header nav{
    background-color:#260101;
    width: 100%;
    height: 4em;
    box-sizing: border-box;
    z-index: 99;
    box-shadow:0 0 10px black;
}
#menuButton{
    display: none;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    height: 4em;
}
header nav ul li,header nav ul div li{
    display: inline;

}
#collapse{
    height: 4em;
    display: flex;
    width:100%;
    justify-content: space-around;
    box-sizing: border-box;


}
#collapse li{
    padding-top: 1.2em;

}
#collapse li,#collapse a{
    text-align: center;
    width: 100%;
}
#collapse li:hover{
    background-color: black;
    padding-top: 0.7em;
    transform: perspective(10px);
    letter-spacing: 0.1em;
}

#home{
    box-sizing: border-box;
    width:5.5%;
    height: 4em;
    padding:1.2em 0em 1.7em 1.5em;
    box-shadow: 0 0 10px black;
}
#home:hover{
    background-color: black;
    /*border-radius: 100%;
    transform: rotate(360deg);
*/}
.fixa{
    position: fixed;
 
    z-index: 9999;


}
#linkExternos{
    margin-top:-1.5em;
    width: 5%;

}
#seta{
    left: 93%;
    top:80vh
}
#seta ul li{
    border-radius: 95%;
    height: 2.5em;
    width: 2.5em;
    padding: 0.7em 0 0 0;
}
#seta ul li:hover{
    transform: rotate(360deg);

}
.fixa ul{
    text-align: center;
    padding: 0;
    padding-top:0.5em;
    box-sizing: border-box;
    
    
}
.fixa ul li{
    padding: 1em 0 0 0;
    box-sizing: border-box;
    border: 1px solid black;
    display: block;
    height: 3em;
    width: 3em;

    background-color:hsl(0, 95%, 8%);
    box-shadow:0 0 10px black;
    transition-duration: 0.5s;
}
.fixa ul li:hover{
    background-color: black;
    width: 4em;
}
a{
    color:white;
    text-decoration: none;

}
#main{
    margin-top:2em;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 60vh;
    overflow: hidden;
    box-shadow: 0px 00px 20px black;

}
#main img{
width: 100%;
}
#main-image{
    background-image: url("    https://img.ibxk.com.br/2020/01/30/30021141299110.jpg?w=1120&h=420&mode=crop&scale=both    ");
    background-size: 100%;
    transition-duration: 2s;
    width: 100%;
    height: 60vh;
}
#main-imagem-1{
    z-index: 5;
    margin-left: -00%;

}
#main-imagem-2{
    margin-left: -100%;

    z-index: 1;
}
#content{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
   
}
section{
    display: flex;
    justify-content: space-around;
}
#content h1{
    margin-top: 2em;
    display: block;
    width: 18%;
    color:#8C0303;
    text-align: right;
    border-bottom-left-radius: 30%;
    border-bottom:2px solid #400101 ;

    font-family: 'Lemonada', cursive;

}
.destaque{
    width: 35%;
    margin-top: 1em;
    box-shadow: 0 0 10px black;
    border-radius: 2%;
    background: #590303;
}
.destaque center{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 80%;
    margin: 2em auto  2em auto;
}
.destaque ul{
    padding: 0;
}
.destaque ul li{
    display: inline;
    list-style: none;
}
.destaque img{
    box-shadow: 0 0 10px black;

    width: 80%;
}
.destaque p{
    display: block;
    font-size: 1.5em;
    white-space: nowrap;


    font-family: 'Dancing Script', cursive;


}
button{
    width: 100%;
    bottom: 0;
    background-color:#260101;
    color:white;
    border: 0;
    padding: 0.3em 0.3em 0.3em 0.3em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
button:hover{
    filter: grayscale(50%);

}
#poemaSection ul {
    width: 100%;

}


#poemaSection ul li a{
background-color: #590303;
width: 100%;
padding: 0 1em 0 0em;
display: flex;
height: 5em;
cursor: pointer;

}
#poemaSection ul li a:hover{
    filter: grayscale(30%);


}
#poemaSection ul li a i{
background-color:#400101;
width: 15%;
padding-top: 1em;
box-sizing: border-box;
height: 100%;
margin-right: 0.5em;
text-align: center;
transition-duration: 0.3s;
}
/*#poemaSection ul li a i:hover{
background:#260101;
}*/

.nomePoema,.nomeResenha{
    padding-top: 1.8em;
    font-style: italic;
    width: 80%;
}
.data{
        vertical-align: middle;
    margin-top: 0.8em;
}


footer{
    display: flex;
    justify-content: space-between;
    margin-top: 6em;
    background-color: #260101;
    height: 3em;
    padding: 0.5em 1em 0.5em 1em;
}
footer h4{
margin-top: 0.5em;
}
#resenhaSection div{
    width: 25%;
    color:#590303;
}
#resenhaSection div center img{
    width: 100%;
   

}
.verMais{
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 0.3em 0 0.7em 0.3em;
    font-size:2em;
    width: 10em;
    white-space: nowrap;
    height: 2em;
    color:white;
    padding-top: 0em;
}
.verMais .texto{
    top: 0.25em;
    position: relative;
}
.verMais .material-icons{
    box-sizing: border-box;
    top: 0.35em;
    position: relative;
    font-size: 1em;
    margin-left: 0.1em;
}
.modal{
    overflow-y: scroll;
    z-index: 9999;
    text-align: center;
    position: fixed;
    display: none;
    left: 25%;
    background-color: #400101;
    width: 50%;
    height: 80vh;
    box-shadow:0 0 20px black;
    border-radius: 1em;
    padding: 0em 1em 1em 1em;
    font-size: 1.5em;
}

.modal-header{
    width: 100%;
}

.modal-header center h2 sup{
    position: relative;
left: 40%;

}

.modal-content{
    margin: 1em 0 1em 0;

}


.textoPoema,.textoResenha{
    width: 100%;
    background-color: #590303;
}
.modalFundo{
    position: absolute;
    background-color: blue;
    height: 100vh;
    width: 100%;
}
#blocoContatos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#blocoContatos img{
    margin-left: 1em;
    height: 9em;
    margin-bottom: 1em;
    border-radius: 100%;
    transition-duration: 1s;
}
#blocoContatos img:hover{
    transform: rotate(360deg);
}

/* Color Theme Swatches in Hex */
.Lucifer-1-hex { color: #F2B199; }
.Lucifer-2-hex { color: #8C0303; }
.Lucifer-3-hex { color: #590303; }
.Lucifer-4-hex { color: #400101; }
.Lucifer-5-hex { color: #260101; }
