body{
    overflow-x: hidden;
    width: 100%;

}
#home{
    width: 2.2em;
    padding: 0em 0.8em 0.1em;
    height: 2.2em;
}
#fixa ul li{
    width: 2.2em;
    padding: 0.5em 0 0 0.1em;
    height: 2.2em;
}
section{
    display: block;
}
.main img{
    width: 100%;
}

.destaque,.resenha{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: 1.5em;
    padding: 1em 0 0em 0;
    white-space: normal;
    font-size: 0.75em;
    overflow: hidden;
}

#poemaSection ul{
    padding: 0;
    margin: 0;
    width: 95%;
}
#resenhaSection div{
    width: 90%;
}
.modal{
    z-index: 9999;
    text-align: center;
    display: none;
    left: 10%;
    background-color: #400101;
    width: 70%;
    box-shadow:0 0 20px black;
    border-radius: 1em;
    font-size: 1.2em;
    padding: 0em 1em 1em 1em;
}
footer{
    font-size:0.8em;
    height:1.5em;
}
h1{
    width: 60% !important;
}
#blocoContatos img {
margin-right: auto;
margin-left: auto;
display: block;
}
#skoob{
    transform: scale(1.1);
}